
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }


// .container {
//     width: 1024px!important;
// }

.front {

    z-index: 1030;

}
