
.sm-invoice {
    // background-color: white;
    // border-radius: 20px;
    // padding: 1.5rem;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // transition: all 100ms ease;
    // border: solid 1px none;

    /* State=Hover */


    /* Auto layout */
    padding: 30px;

    /* White/Default 100 */

    background: #FFFFFF;
    /* Blue/Default 500 */

    border: 3px solid white;
    /* Drop shadow */

    box-shadow: 0px 5px 30px rgba(25, 25, 25, 0.15);
    border-radius: 15px;
    transition: 100ms ease;

    &:hover {
        border-color: #0d6efd;

    }

    .invoice-header {
        padding-bottom: 20px;
    }
}

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#searchComponent {

    display: none;

}
